<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">
  <Identity
    Name="m3Coding.SimpleMACChanger"
    Publisher="CN=AFF85DD5-3D92-42A5-BA39-3AF6D41B1837"
    Version="1.0.0.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Simple MAC Changer</DisplayName>
    <PublisherDisplayName>m3 Coding</PublisherDisplayName>
    <Logo>Assets/StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="SimpleMacChanger" Executable="SimpleMacChanger.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Simple MAC Changer"
        Description="Simple MAC Changer"
        BackgroundColor="transparent"
        Square150x150Logo="Assets/Square150x150Logo.png"
        Square44x44Logo="Assets/Square44x44Logo.png" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
